.page{

    .block{
        padding: 40px 0 40px;
    }

    .bSection{
        // padding-bottom: 20px;
    }
}

.bSection{
    padding: 45px 0 20px;
	position: relative;
	margin-bottom: 15px;
    text-align: center;

    background-image: url('../img/bg/bsection.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    @include media-breakpoint-down(sm){
        padding-bottom: 12px;
        margin-bottom: 0px;
    }
	
    h3{
		font-size: 52px;
		color: #100707;
		line-height: 1;
		font-weight: 900;
		margin: 0;

		span{
			color: $danger;
		}

		@include media-breakpoint-down(sm){
			font-size:  26px;
		}
	}

    .breadcrumb{
        justify-content: center;
        background: transparent;
        margin-top: 15px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;

        @include media-breakpoint-down(sm){
			margin-top: 0;
		}

        .breadcrumb-item{
            a{
                color: #444;
            }

            &.active{
                
            }
        }
    }
}

.nav-tabs{
    border: none;
    justify-content: center;

    .nav-link{
        border: none;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        color: #777;
        position: relative;
        padding: 0 0 5px;
        margin: 0 15px;

        @include media-breakpoint-down(sm){
			font-size: 16px;
            margin-bottom: 10px;
            padding-bottom: 0;
		}

        &:before{
            content: '';
            height: 2px;
            width: 0;
            background: $primary;
            position: absolute;
            bottom: 0;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            @include transition(all ease 250ms);
        }

        span{
            display: block;
            font-size: 13px;
            position: relative;
            top: -4px;
            color: #b5b5b5;
            text-transform: capitalize;
        }

        &:hover, &.active{
            color: #000;
            background-color: transparent;

            &:before{
                width: 100%;
            }
        }
    }
}

.tab-content{
    padding: 20px 0;
    margin-top: 15px;

    @include media-breakpoint-down(sm){
        padding-top: 0px;
    }

    .mYcBox{
        margin: 0 0 30px 0;

        .mycImg{
            height: 300px;
        }
    }

    
}

.subFilter{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .form-group{
        position: relative;

        .form-control{
            border: 1px solid #e1e1e1;
            padding: 5px 10px;
            color: #484141;
        }
    }
}

// Gallery Grid

.hidden{
    visibility:hidden;
    width:0px!important;
    height:0px!important;
    margin:0px!important;
    padding:0px!important;
}

.gGrid{
    margin: 0px 0;
    position: relative;
    overflow: hidden;

    .grid{
        position: relative;
        width: 100%;

        .element-item{
            width: 25%;
            //width: 300px;
            height: auto;
            padding: 15px;
            //border: 5px solid #fff;
            // margin-bottom: 16px;

            @include media-breakpoint-down(md){
                width: 100%;
            }

            @include media-breakpoint-down(sm){
                width: 100%;
            }
        }

        .mYcBox{
            margin: 0;
        }
    }

    .mt-3{
        @include media-breakpoint-down(sm){
            text-align: center;
        }
    }
}

.videos, .news{

    .fVideoBox{
        margin-bottom: 30px;
    }

    .mainVideo{
        margin-bottom: 50px;
    }
}

.videos{
    .fVideoBox{
        margin: 0 15px 0px;
    }
}

.moreVideos, .moreNews{

    .mTitle{
        padding: 0 0 20px;
        margin-bottom: 10px;
    }

    .fVideoImg{
        span{
            font-size: 12px;

            i{
                font-size: 8px;
            }
        }
    }

    .fVideoDetails{
        h4{
            font-size: 15px;
        }   
    }

    
}

.moreNews{
    background-color: #F6F6F6;
}

.news{

    .mainNews{

        .nTitle{
            padding-bottom: 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;

            h3{
                color: #100707;
                font-weight: 700;
                font-size: 36px;

                @include media-breakpoint-down(sm){
                    font-size:  22px;
                }
            }
        }

        .meta{
            display: flex;
            gap: 5px;
            align-items: center;
            flex-wrap: wrap;
            
            span{
                display: inline-block;
                font-weight: 500;
                color: #5E5E5E;
                position: relative;
                font-size: 16px;

                @include media-breakpoint-down(sm){
                    font-size: 14px;
                }

                &:not(:last-child){
                    padding-right: 10px;
                    margin-right: 6px;

                    &:before{
                        content: '';
                        height: 15px;
                        position: absolute;
                        right: 0;
                        top: 3px;
                        background:#5E5E5E;
                        width: 1px;

                        @include media-breakpoint-down(xs){
                            display: none;
                        }
                    }
                }

                a{
                    color: #868686;
                    margin: 0 4px;

                    &:hover{
                        color: $danger;
                    }
                }

                &.tags{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    flex-wrap: wrap;

                    .tag{
                        font-size: 13px;
                        border: 1px solid $primary;
                        padding: 2px 5px;
                        @include border-radius(4px);

                        @include media-breakpoint-down(sm){
                            font-size: 13px;
                            padding: 1px 5px;
                        }

                    }
                }
            }
        }

        .nContent{
            padding-top: 15px;

            p{
                white-space: pre-line;
                color: #5E5E5E;

                b{
                    color: #160707;
                    font-weight: 700;
                }
            }

            img{
                width: auto;
                padding: 0 0 15px;
            }
        }
    }
}

.page{
    .contact{
        .mTitle{
            padding-bottom: 10px;

            h3{
                font-size: 32px;
                color: #100707;

                @include media-breakpoint-down(sm){
                    font-size: 26px;
                }
            }

            p{
                color: #444857;
                font-size: 18px;
            }
        }
    }
}

.cForm{

    h4{
        font-size: 15px;
    }

    .well{
        
    }

    p{
        font-size: 14px;
    }
    .countrycodepicker {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom:1px solid #ccc;
    }
}

